.plantform button {
  background-color: var(--primary-color);

  &:hover {
    background: var(--primary-color-hover);
  }
}

.plant-cards .card {
  padding: 2rem;
  border: #ccc 1px solid;
  margin: 1.5rem 0;
  border-radius: 3px;
  background: white;

  h3 {
    margin-bottom: 0.8rem;
    padding-top: 0.5rem;
  }

  i {
    color: var(--primary-color);
    margin-right: 0.3rem;
  }
}

.card-buttons {
  display: flex;
  padding-bottom: 0.8rem;

  button {
    display: inline-block;
    width: inherit;
    background-color: #ef4747;
    padding: 1rem 3rem;
    font-size: 1.2rem;

    &:first-child {
      background-color: #0b82ff;
      margin-right: 0.7rem;
    }
  }
}

#button-clear {
  background-color: #484848;
  margin-top: 1.5rem;
}

.loading {
  color: var(--primary-color);

  i {
    margin-right: 0.3rem;
  }
}
